{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Larin| Sign up</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Регистрация</h3></div>
                                    <div class="card-body">
                                        <form action="" method="POST">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputEmailAddress">Email</label>
                                                <input class="form-control py-4" name="email" id="email" type="email" placeholder="Введите email" value="{{ email }}" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputName">Имя</label>
                                                <input class="form-control py-4" name="first_name" id="first_name" type="text" placeholder="Имя" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputName">Фамилия</label>
                                                <input class="form-control py-4" name="last_name" id="last_name" type="text" placeholder="Фамилия" />
                                            </div>

{#                                            <div class="form-group">#}
{#                                                <label class="small mb-1" for="inputDate">Год рождения</label>#}
{#                                                <input class="form-control py-4" name="birth_date" id="birth_date" type="date" placeholder="" required/>#}
{#                                            </div>#}
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputIIN">ИИН</label>
                                                <input class="form-control py-4" name="iin" id="iin" type="text" placeholder="ИИН" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" for="input_tel">Телефон</label>
                                                <input class="form-control py-4" name="phone_number" id="phone_number" type="text" placeholder="Телефон" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputPassword">Пароль</label>
                                                <input class="form-control py-4" name="password" id="password" type="password" placeholder="Придумайте пароль" required/>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" class="btn btn-primary save-create-changes-button" value="Зарегистрироваться" >
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="login.html">Войти</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Larin.kz 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
